{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}


{% block menu %}
	<div class="header-wrapper">
		<div class="header">
			<a href="{% url 'main' %}" class="logo"><img src="{% static '/img/logo.png' %}" alt="logo"></a>
			{% include 'mainapp/include/inc_main_menu.html' %}
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="nav">
		<div class="tab-controll">
			{% include 'mainapp/include/inc_submenu.html' %}
		</div>
	</div>
	</div>
		<div class="products-details">
		<div class="picture-part">
			<img src='/media/{{ product.image }}' class="img_slide_main" alt="slide_1">
			<img src='/media/{{ product.image }}' class="img_slide" alt="slide_2">
			<img src='/media/{{ product.image }}' class="img_slide" alt="slide_3">
			<img src='/media/{{ product.image }}' class="img_slide" alt="slide_4">
		</div>
		<div class="datail-part">
			<h2 class="datail-part-h2">{{ product.name }}</h2>
			<p class="hot_deal">Hot Deal</p>
			<div class="price"><span class="price_decimal">{{ product.price }}</span>руб.</div>
			<a href='{% url "basket:add" product.pk %}' class="promo-button">Order Us</a>
			<div class="detail-part-description">
				<p class="detail-part-text">{{ product.description }}</p>
			</div>
		</div>
	</div>
	<div class="related-products">
		<div class="trending-products">
			<div class="title">
				<h2 class="title-h2">Related Products</h2>
				<a href="#" class="explore_all">explore all</a>
			</div>
			<div class="trending-products-list">
				{% for product in same_products %}
					<div class="trending-product"><img src="{{ product.image|media_folder_products }}"></div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="cycle-link">
		<a href="#"><span class="icon-cycle"></span></a>
	</div>
{% endblock %}
